<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Surf API</title>
    <link rel="icon" href="favicon.png" type="image/png" />
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container center">
        <a href="http://surf-api.herokuapp.com/" class="surf-api-logo">
          <img src="<%= Routes.static_path(@conn, "/images/surf-api-logo.png") %>" alt="Surf API Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <section class="footer center">
      <a href="https://github.com/fredericojordan/surf-api/" class="github-link">
        <img src="<%= Routes.static_path(@conn, "/images/github.png") %>" alt="Github Repo"/>
      </a>
    </section>
  </body>
</html>
